In [ ]:
#challange 1

SELECT au.au_id as 'author_ID', au.au_lname as 'last_name', au.au_fname as 'first_name', ti.title, pu.pub_name as 'publisher'
	from authors as au
		left join titleauthor as ta
			on au.au_id=ta.au_id
		left join titles as ti
			on ti.title_id=ti.title_id
		left join publishers as pu
			on ti.pub_id=pu.pub_id;


# challange 2

SELECT `AUTHOR ID`, `LAST NAME`, `FIRST NAME`, `PUBLISHER`, COUNT(*)
    FROM
    (SELECT au.au_id AS `AUTHOR ID`, au.au_lname AS `LAST NAME`, au.au_fname AS `FIRST NAME`, ti.title AS `TITLE`, pu.pub_name AS `PUBLISHER`
    from authors as au
    LEFT JOIN titleauthor as ti_au
        ON au.au_id=ti_au.au_id
    LEFT JOIN titles as ti
        ON ti_au.title_id=ti.title_id
    LEFT JOIN publishers as pu
        ON ti.pub_id=pu.pub_id)AS s
    GROUP BY `AUTHOR ID`, `PUBLISHER`;

    # challange 3

    SELECT au.au_id as 'author_id', au.au_lname as 'last_name', au.au_fname as 'first_name', SUM(sales.qty) 'total'
FROM authors as au
LEFT JOIN titleauthor as ti_au
	ON au.au_id=ti_au.au_id
LEFT JOIN sales
	ON ti_au.title_id=sales.title_id
GROUP BY `author_id`
ORDER BY `total` DESC
LIMIT 3;

#challange 4

select au.au_id as 'AUTHOR_ID', au.au_lname as 'LAST_NAME', au.au_fname as 'FIRST_NAME',
COUNT(ti.title) as 'TOTAL', 
coalesce((SUM(sales.qty)),0) as 'SUMA'
from authors as au
left join titleauthor as ti_au
	on ti_au.au_id=au.au_id
left join titles as ti
	on ti_au.title_id = ti.title_id
left join sales 
	on ti.title_id = sales.title_id 
    group by AUTHOR_ID order by TOTAL limit 23;